body {
	margin: 0px;
	padding: 0px;
	width: 600px;
	font-family: 'Montserrat', sans-serif;
}

footer {
	background-color: #d7d7d7;
	width: 600px;
}

input {
	border-radius: 5px;
	background-color: #d8d8d8;
}

nav {
	background-color: #d8d8d8;
	height: 37px;
	width: 600px;
}

li {
	display: inline-block;
	border: 1px solid rgba(0, 0, 0, 0.253);
	background-color: white;
	padding: 3px;
}

.liactivesite {
	background-color: #9b9b9b;
}

ul {
	list-style: none;
	margin: 0;
	padding-top: 5px;
}

a {
	text-decoration: none;
	color: black;
}

.topblock {
	height: 50px;
	width: 600px;
	background-color: #f2f2f2;
	border-bottom: 1px solid;
	border-color: black;
}

.topblock-pollution {
	display: inline-block;
	height: 21px;
	padding-left: 40px;
	width: 300px;
}

.topblock-findform {
	display: inline-block;
	height: 21px;
	padding-left: 50px;
}

.content {
	height: 510px;
	width: 600px;
}

.content-leftcolumn {
	float: left;
	width: 240px;
	height: 260px;
	font-size: 22px;
	padding-left: 40px;
}

.content-rightcolumn {
	float: right;
	width: 320px;
	height: 260px;
	font-size: 22px;
}

.content-rightcolumn-buttonrow {
	width: 320px;
	height: 54px;
	font-size: 14px;
}

.buttonrow-button1 {
	float: left;
	background-color: #9b9b9b;
	border: 1px solid rgba(0, 0, 0, 0.1);
	margin-right: 8px;
	height: 42px;
	padding: 5px;
	text-align: center;
}

.buttonrow-button2 {
	float: left;
	background: #f5f5f5;
	border: 1px solid rgba(0, 0, 0, 0.1);
	margin-right: 8px;
	height: 31px;
	padding: 16px 8px 5px 5px;
	text-align: center;
}

.content-levelrow {
	clear: both;
	height: 52px;
	width: 600px;
	color: blue;
	background-color: #e7f1fd;
	font-size: 12px;
	text-align: center;
}

.levelrow-emptywhitebox {
	float: left;
	width: 7px;
	height: 52px;
	background-color: white;
}

.levelrow-emptywhiteboxlast {
	float: left;
	width: 17px;
	height: 52px;
	background-color: white;
}

.levelrow-boxlow {
	float: left;
	width: 24px;
	height: 30px;
	border-bottom: 2px solid #1878f0;
	background-color: white;
}

.levelrow-boxhigh {
	float: left;
	width: 24px;
	height: 15px;
	border-bottom: 2px solid #1878f0;
	background-color: white;
}

.levelrow-boxhighmiddle {
	float: left;
	width: 24px;
	height: 25px;
	border-bottom: 2px solid #1878f0;
	background-color: white;
}

.content-timerow {
	clear: both;
	height: 38px;
	text-align: center;
}

.timerow-time {
	float: left;
	width: 55px;
	padding: 10px;
	background: white;
	color: #9e9e9e;
}

.content-picturrow {
	background: white;
	height: 156px;
}

.greytext {
	color: #9e9e9e;
}

.picturrow-box {
	display: inline-block;
	width: 71px;
	background: white;
	text-align: center;
	height: 156px;
}

.picturrow-boxborder {
	display: inline-block;
	width: 71px;
	background: #fcfcfc;
	text-align: center;
	border: 1px solid #e9e9e9;
	height: 154px;
}

.footertext {
	padding-left: 240px
}

.textspace {
	margin-left: 100px;
}

.topblock-city {
	display: inline-block;
	margin-left: 40px;
	width: 300px;
}

.weathertable {
	width: 510px;
	height: 270px;
	padding-left: 45px;
	padding-top: 15px;
}

.weathertable-dayrow {
	width: 510px;
	height: 22px;
	text-align: center;
}

.weathertable-dayrow-box {
	float: left;
	width: 100px;
	height: 20px;
	border: 1px solid;
}

.weathertable-weather {
	width: 510px;
	height: 91px;
	background-color: lightyellow;
}

.weathertable-weather-box {
	float: left;
	background-color: white;
	width: 100px;
	height: 60px;
	border-left: 1px solid;
	border-right: 1px solid;
	border-top: 1px solid;
}

.weathertable-weather-box-status {
	float: left;
	width: 24px;
	height: 50px;
	background-color: rgb(255, 255, 255);
	margin-right: 1px;
}

.weathertable-weather-box-status-smalltext {
	font-size: 8px;
}

.weathertable-weather-temperature {
	clear: both;
	width: 510px;
	height: 30px;
	background-color: lightblue;
}

.weathertable-weather-temperature-box {
	float: left;
	width: 100px;
	height: 30px;
	background-color: rgb(255, 255, 255);
	border-left: 1px solid;
	border-right: 1px solid;
}

.weathertable-temperature-box-yellow {
	float: left;
	width: 18px;
	height: 15px;
	background-color: #f8e71c;
	border: 1px solid;
	margin-right: 5px;
	font-size: 10px;
}

.weathertable-temperature-box-orange {
	float: left;
	width: 18px;
	height: 15px;
	background-color: #f5a623;
	border: 1px solid;
	margin-right: 5px;
	font-size: 10px;
}

.weathertable-temperature-box-green {
	float: left;
	width: 18px;
	height: 15px;
	background-color: #b8ea86;
	border: 1px solid;
	margin-right: 4px;
	margin-left: 1px;
	font-size: 10px;
}

.weathertable-middleline {
	clear: both;
	background-color: silver;
	width: 508px;
	height: 25px;
	border: 1px solid;
	text-align: center;
}

.weathertable-middleline-row {
	clear: both;
	width: 510px;
	height: 25px;
	text-align: center;
}

.weathertable-middleline-row-box {
	float: left;
	width: 100px;
	height: 30px;
	border-left: 1px solid;
	border-bottom: 1px solid;
	border-right: 1px solid;
}

.weathertable-middleline-row-box-value {
	float: left;
	width: 18px;
	height: 15px;
	background-color: #d8d8d8;
	margin-right: 4px;
	margin-top: 6px;
	transform: skew(-20deg);
	margin-left: 3px;
}

.weathertable-rainfallline {
	clear: both;
	background-color: silver;
	width: 508px;
	height: 25px;
	border: 1px solid;
	text-align: center;
}

.weathertable-rainfall {
	width: 510px;
	height: 61px;
	background-color: lightyellow;
}

.weathertable-rainfall-box {
	float: left;
	width: 100px;
	height: 60px;
	border-left: 1px solid;
	border-bottom: 1px solid;
	border-right: 1px solid;
	background-color: rgb(255, 255, 255);
}

.weathertable-rainfall-box-water {
	float: left;
	width: 23px;
	height: 22px;
	background-color: rgb(255, 255, 255);
	padding-left: 2px;
	padding-top: 38px;
	text-align: center;
}

.weathertable-water {
	float: left;
	width: 510px;
	height: 14px;
	background-color: lightblue;
}

.middlebox {
	clear: both;
	width: 510px;
	height: 30px;
	background-color: silver;
	margin-left: 45px;
	border: 1px solid;
}

.bottomblock {
	float: left;
	width: 510px;
	height: 180px;
	margin-left: 45px;
	margin-top: 10px;
}

.bottomblock-leftcolumn {
	float: left;
	width: 255px;
	height: 180px;
}

.bottomblock-leftcolumn-image {
	float: left;
	width: 100px;
	height: 120px;
}

.bottomblock-rightcolumn {
	float: right;
	width: 255px;
	height: 180px;
}

.bottomblock-rightcolumn-image {
	float: left;
	width: 100px;
	height: 120px;
}

.bottomblock-rightcolumn-text {
	float: left;
	width: 155px;
	height: 120px;
}

.bottomblock-leftcolumn-text {
	float: left;
	width: 155px;
	height: 120px;
}

.bottomblock-leftcolumn-textblock {
	clear: both;
	width: 255px;
	height: 75px;
}

.bottomblock-rightcolumn-textblock {
	float: left;
	width: 255px;
	height: 75px;
}

.table-text {
	padding-top: 50px;
	font-size: 10px;
	text-align: center;
}

table .first-row td:nth-child(odd) {
	background: silver;
}

table .second-row td:nth-child(even) {
	background: silver;
}

td {
	width: 65px;
	height: 28px;
}