body {
	margin: 0;
	padding: 0;
	width: 800px;
	font-family: 'Montserrat', sans-serif;
}

.main-footer {
	background-color: #d7d7d7;
	width: 800px;
	height: 40px;
	line-height: 40px;
	text-align: center;
}

.input-find-city {
	background-color: #e4e4e4;
	display: inline-block;
	width: 200px;
	height: 23px;
	border: hidden;
	position: absolute;
	outline: none;
}

.main-menu {
	background-color: #d8d8d8;
	height: 40px;
	width: 800px;
	position: relative;
}

.text-style-big-temperature {
	vertical-align: top;
	font-size: 45px;
	padding-left: 20px;
}

li {
	display: inline-block;
	border: 1px solid rgba(0, 0, 0, 0.253);
	background-color: white;
	margin-right: 20px;
	width: 150px;
	text-align: center;
	height: 25px;
	line-height: 25px;
}

.li-activesite {
	background-color: #9b9b9b;
}

.menu-list {
	list-style: none;
	margin: 0;
	position: absolute;
	transform: translateY(-50%);
	top: 50%;
}

a {
	text-decoration: none;
	color: black;
}

.header-info {
	height: 50px;
	width: 800px;
	background-color: #f2f2f2;
	border-bottom: 1px solid;
	border-color: black;
	position: relative;
}

.header-info__pollution {
	display: inline-block;
	padding-left: 50px;
}

.header-findform {
	height: 23px;
	width: 230px;
	border: 1px solid;
	border-radius: 5px;
	background-color: #e4e4e4;
	position: absolute;
	top: 50%;
	left: 60%;
	transform: translateY(-50%);
}

.header-findform::before {
	content: url(../images/find.png);
	display: inline-block;
}

.content {
	height: 510px;
	width: 800px;
}

.main-weather-information {
	width: 800px;
	height: 260px;
}

.main-weather-information__city-temperature {
	display: inline-block;
	width: 360px;
	height: 260px;
	font-size: 22px;
	padding-left: 40px;
}

.main-weather-information__precipitation-humidity-wind {
	display: inline-block;
	width: 400px;
	height: 260px;
	font-size: 22px;
	margin-left: -10px;
	vertical-align: top;
}

.main-weather-information__buttonrow {
	width: 320px;
	height: 57px;
	font-size: 14px;
}

.buttonrow-button-active {
	float: left;
	background-color: #9b9b9b;
	border: 1px solid rgba(0, 0, 0, 0.1);
	margin-right: 8px;
	height: 42px;
	padding: 8px 5px 5px;
	text-align: center;
}

.buttonrow-button-noactive {
	float: left;
	background: #f5f5f5;
	border: 1px solid rgba(0, 0, 0, 0.1);
	margin-right: 8px;
	height: 55px;
	text-align: center;
	line-height: 55px;
	padding: 0 8px 0;
}

.probability-of-precipitation {
	height: 32px;
	width: 800px;
	color: blue;
	font-size: 12px;
	text-align: center;
}

.low-probability {
	display: inline-block;
	width: 32px;
	height: 30px;
	border-top: 2px solid #1878f0;
	background-color: #e7f1fd;
	vertical-align: bottom;
	margin-left: -4px;
	position: relative;
}

.text-area-above-box {
	position: absolute;
	top: -18px;
	left: 5px;
}

.high-probability {
	display: inline-block;
	width: 32px;
	height: 15px;
	border-top: 2px solid #1878f0;
	background-color: #e7f1fd;
	vertical-align: bottom;
	margin-left: -4px;
	position: relative;
}

.levelrow-boxhighmiddle {
	float: left;
	width: 24px;
	height: 25px;
	border-bottom: 2px solid #1878f0;
	background-color: white;
}

.timerow {
	height: 39px;
	padding-left: 20px;
}

.timerow__time {
	display: inline-block;
	width: 76px;
	padding: 10px;
	color: #9e9e9e;
	text-align: center;
	margin-left: -5px;
}

.picturrow-8days {
	background: white;
	height: 154px;
	padding-left: 20px;
}

.text-style-grey {
	color: #9e9e9e;
}

.picturrow-8days__box {
	display: inline-block;
	width: 90px;
	background: white;
	text-align: center;
	height: 152px;
	border: 1px solid white;
}

.picturrow-8days__boxborder {
	display: inline-block;
	width: 90px;
	background: #fcfcfc;
	text-align: center;
	border: 1px solid #e9e9e9;
	height: 152px;
}

.textspace {
	margin-left: 160px;
}

/* Page - 5days.html */

.header-info__city {
	display: inline-block;
	margin-left: 50px;
}

.header-image-cloudy {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 5px;
}

.border {
	border-bottom: 1px solid;
}

.weathertable {
	width: 710px;
	height: 270px;
	padding-left: 45px;
	padding-top: 15px;
}

.weathertable-dayrow {
	width: 710px;
	height: 100px;
	text-align: center;
}

.weathertable-dayrow-box {
	display: inline-block;
	width: 140px;
	height: 100px;
	border: 1px solid;
	margin-left: -5px;
}

.weathertable-weather {
	width: 710px;
	height: 91px;
	margin-left: 4px;
}

.weathertable-weather-box {
	display: inline-block;
	background-color: white;
	width: 140px;
	height: 60px;
	border: 1px solid;
	margin-left: -5px;
}

.weathertable-weather-box-status {
	display: inline-block;
	width: 34px;
	height: 50px;
	background-color: rgb(255, 255, 255);
	margin-left: -5px;
}

.weathertable-weather-box-status-smalltext {
	font-size: 8px;
}

.weathertable-weather-temperature {
	clear: both;
	width: 710px;
	height: 30px;
	background-color: lightblue;
}

.weathertable-weather-temperature-box {
	float: left;
	width: 140px;
	height: 30px;
	background-color: rgb(255, 255, 255);
}

.weathertable-temperature-box-yellow {
	float: left;
	width: 28px;
	height: 15px;
	background-color: #f8e71c;
	border: 1px solid;
	margin-right: 4px;
	font-size: 10px;
}

.weathertable-temperature-box-orange {
	float: left;
	width: 28px;
	height: 15px;
	background-color: #f5a623;
	border: 1px solid;
	margin-right: 4px;
	font-size: 10px;
}

.weathertable-temperature-box-green {
	float: left;
	width: 28px;
	height: 15px;
	background-color: #b8ea86;
	border: 1px solid;
	margin-right: 4px;
	margin-left: 4px;
	font-size: 10px;
}

.weathertable-max-wind-speed {
	background-color: silver;
	width: 705px;
	height: 25px;
	border: 1px solid;
	text-align: center;
	margin-left: -1px;
	line-height: 25px;
}

.weathertable-max-wind-speed-row {
	width: 710px;
	height: 25px;
	text-align: center;
}

.weathertable-max-wind-speed-row-box {
	display: inline-block;
	width: 140px;
	height: 25px;
	border-left: 1px solid;
	border-bottom: 1px solid;
	border-right: 1px solid;
	margin-left: -5px;
}

.wind-value {
	display: inline-block;
	width: 28px;
	height: 15px;
	background-color: #d8d8d8;
	margin-top: 6px;
	transform: skew(-20deg);
	line-height: 15px;
}

.weathertable-rainfallline {
	background-color: silver;
	width: 705px;
	height: 25px;
	border: 1px solid;
	text-align: center;
	margin-left: -1px;
	line-height: 25px;
}

.weathertable-rainfall {
	width: 710px;
	height: 61px;
	margin-left: 4px;
}

.weathertable-rainfall-box {
	display: inline-block;
	width: 140px;
	height: 60px;
	border-left: 1px solid;
	border-bottom: 1px solid;
	border-right: 1px solid;
	margin-left: -5px;
}

.precipitation-level {
	display: inline-block;
	width: 30px;
	height: 22px;
	background-color: rgb(255, 255, 255);
	padding-top: 38px;
	text-align: center;
	vertical-align: top;
	margin-left: 1px;
}

.curentday-sun-day-and-moon {
	width: 707px;
	height: 30px;
	background-color: silver;
	margin-left: 43px;
	border: 1px solid;
	line-height: 30px;
}

.Sun-and-moon {
	height: 180px;
	margin-left: 45px;
	margin-top: 10px;
}

.Sun-and-moon-leftcolumn {
	display: inline-block;
	width: 360px;
	height: 180px;
}

.Sun-and-moon-leftcolumn-image {
	display: inline-block;
	width: 100px;
	height: 120px;
}

.Sun-and-moon-rightcolumn {
	display: inline-block;
	width: 350px;
	height: 180px;
	vertical-align: top;
}

.Sun-and-moon-rightcolumn-image {
	display: inline-block;
	width: 100px;
	height: 120px;
}

.Sun-and-moon__rightcolumn-text {
	display: inline-block;
	width: 235px;
	height: 120px;
	vertical-align: top;
}

.Sun-and-moon-rightcolumn-textblock {
	display: inline-block;
	width: 200px;
	height: 60px;
	padding-left: 20px;
	font-size: 13px;
}

.Sun-and-moon-leftcolumn-text {
	display: inline-block;
	width: 250px;
	height: 120px;
	vertical-align: top;
}

.Sun-and-moon-leftcolumn-textblock {
	display: inline-block;
	width: 355px;
	height: 60px;
	padding-left: 20px;
	font-size: 13px;
}

.Sun-and-moon-rightcolumn-textblock {
	display: inline-block;
	width: 355px;
	height: 60px;
	padding-left: 20px;
	font-size: 13px;
}

/* Page - hystory.html */

.weather-per-year {
	padding-top: 50px;
	font-size: 10px;
	text-align: center;
}

table .first-row td:nth-child(odd) {
	background: silver;
}

table .second-row td:nth-child(even) {
	background: silver;
}

td {
	width: 65px;
	height: 28px;
}